.top {
  text-align: center;
  font-size: 50px;
  font-family: "Copperplate";
  color: #FFFFFF;
}

.middle {
  font-family: "Arial";
  color: #FFFFFF;
  
}

body {
 background-color: #000000;
  color: #FFFFFF;
  
}

a{
 color:"white"; 
  font-size:20px;
}


a:visited {
  color: #00aaff;
  
}
a:hover {
 color: #AE1D14; 
}
footer {
  text-align: center;
  color: #6A0500;
}
.nav a {
list-style-type:none;
 padding:0;
  margin:0;
  background-color:#A80501;
  overflow:hidden;
  display: table;
  width: 100%;
}

h1{
 text-align:center;
  
}

p{
text-align: center;


}



















