.top {
  text-align:center;
  font-size:50px;
  font-family:"Copperplate";
  color:#FFFFFF;
}

.middle {
  font-family:"Arial";
  color:#FFFFFF;
  
}

body {
 background-color:#000000;
  color:#FFFFFF;
  
  
}
