/*About Me CSS*/
.top {
  text-align: center;
  font-size: 50px;
  font-family: "Copperplate";
  color: #FFFFFF;
}

.middle {
  font-family: "Arial";
  color: #FFFFFF;
  
}

body {
 background-color: #000000;
  color: #FFFFFF;
  
}


/*End of CSS for About Me*/
/*Start of Index CSS*/
a{
 background-color:#303030; 
  font-size:20px;
}

a:visited {
  color: #00aaff;
  
}

a:hover {
 color: #AE1D14;
}

footer {
  text-align: center;
  color: #6A0500;
}

.nav ul {
list-style-type:none;
 padding:14px;
  margin:16px;
  background-color:#A80501;
  overflow:hidden;
  display: table;
  width: 100%;
}

li{
 float:left; 
  
  
}

h1{
 text-align:center;
  
}

p{
text-align: center;


}



















